<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,300;1,400&family=Roboto:ital,wght@0,300;0,400;1,500&display=swap" rel="stylesheet">

<section class="main">
    <h1>Olá, seja bem-vindo ao meu Portifólio</h1>
    <p>Estudante dedicado de Análise e Desenvolvimento de Sistemas na Estácio de Sá em busca de oportunidades de estágio para aplicar e aprimorar habilidades em HTML, CSS e JavaScript. Comprometido com a excelência acadêmica e sempre ansioso para enfrentar desafios no campo da tecnologia. Com uma sólida compreensão dos fundamentos do desenvolvimento web, estou preparado para contribuir efetivamente em ambientes práticos e dinâmicos. Motivado, proativo e pronto para aprender, estou entusiasmado em fazer parte de uma equipe inovadora.</p>
</section>
